<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zzti.bibased.dao.mapper.PositionsMapper">
    <resultMap id="BaseResultMap" type="cn.edu.zzti.bibased.dto.Positions" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="position_url" property="positionUrl" jdbcType="VARCHAR" />
        <result column="position_name" property="positionName" jdbcType="VARCHAR" />
        <result column="include" property="include" jdbcType="VARCHAR" />
        <result column="is_valid" property="isValid" jdbcType="TINYINT" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="root_id" property="rootId" jdbcType="VARCHAR" />
        <result column="leaf" property="leaf" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="op_time" property="opTime" jdbcType="BIGINT" />
        <result column="last_ver" property="lastVer" jdbcType="BIGINT" />
        <result column="date_version" property="dateVersion" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="fields">
        <![CDATA[
            id, position_url, position_name, include, parent_id, root_id, leaf, create_time, op_time,is_valid, last_ver,date_version
        ]]>
    </sql>
    <sql id="valueFields">
        <![CDATA[
        (#{position.id},#{position.positionUrl},#{position.positionName},#{position.include},#{position.parentId},#{position.rootId},#{position.leaf},UNIX_TIMESTAMP(now()),UNIX_TIMESTAMP(now()),1,0,#{#{position.dateVersion}})
          ]]>
    </sql>
    <sql id="selectSql">
         select <include refid="fields" /> FROM  positions
    </sql>
    <sql id="insertSql">
         insert into positions (<include refid="fields" />) values
    </sql>
    <insert id="batchInsert" parameterType="cn.edu.zzti.bibased.dto.Positions">
        <include refid="insertSql" />
        <foreach collection="list" item="position" index="index" separator="," >
            <include refid="valueFields" />
      </foreach>
    </insert>
    <insert id="insert" parameterType="cn.edu.zzti.bibased.dto.Positions">
        <include refid="insertSql" />
        <include refid="valueFields" />
    </insert>
    <select id="queryLeafPositions" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT   position_url, position_name, include from positions
        WHERE  include = #{include}  and leaf = 1 and date_version = (
          SELECT date_version from positions ORDER BY date_version Desc limit 1
        )
    </select>
</mapper>